{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'generator/css/base_style.css' %}">
    {% block extra_styles %}
    {% endblock extra_styles %}
</head>
<body>
    <header>
        <div class="navbar-menu">
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'gerador' %}">Gerador</a>
            <a href="{% url 'suporte' %}">Suporte</a>
        </div>
    </header>


    {% block content %}
    {% endblock %}
</body>
</html>