:root {
    --cor-escura1: #151D3B;
    --cor-clara1: #FFF7E9;
    --cor-clara2: #dbcbae;
}

body {
    height: 200vh;
}

h1 {
    margin-top: 20px;
    text-align: center;
    align-items: center;
}
p {
    margin-top: 20px;
}

.redirect {
    text-align: center;
    align-items: center;
    background-color: var(--cor-clara2);
}